<nav aria-label="Auxiliary" class="aux-nav">
  <ul class="aux-nav-list">
    <li class="aux-nav-list-item">
      <a href="https://github.com/nick-pape" target="_blank" title="GitHub" class="site-button" rel="noopener noreferrer">
        <img src="https://cdn.jsdelivr.net/npm/simple-icons@v9/icons/github.svg" alt="GitHub" style="vertical-align: middle; height: 1.5rem; filter: invert(1);">
      </a>
    </li>
    <li class="aux-nav-list-item">
      <a href="https://www.linkedin.com/in/nickpape-software" target="_blank" title="LinkedIn" class="site-button" rel="noopener noreferrer">
        <img src="https://cdn.jsdelivr.net/npm/simple-icons@v9/icons/linkedin.svg" alt="LinkedIn" style="vertical-align: middle; height: 1.5rem; filter: invert(1);">
      </a>
    </li>
    <li class="aux-nav-list-item">
      <a href="mailto:nick@nickpape.com" title="Email" class="site-button">
        <img src="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/icons/envelope.svg" alt="Email" style="vertical-align: middle; height: 1.5rem; filter: invert(1);">
      </a>
    </li>
  </ul>
</nav>
