<!-- _includes/aux_links_custom.html -->
<a href="https://github.com/nick-pape" target="_blank" title="GitHub" style="margin-right: 1rem;">
  <img src="https://cdn.jsdelivr.net/npm/simple-icons@v9/icons/github.svg" alt="GitHub" height="24">
</a>

<a href="https://www.linkedin.com/in/nickpape-software" target="_blank" title="LinkedIn" style="margin-right: 1rem;">
  <img src="https://cdn.jsdelivr.net/npm/simple-icons@v9/icons/linkedin.svg" alt="LinkedIn" height="24">
</a>

<a href="mailto:nick@nickpape.com" title="Email">
  <img src="https://cdn.jsdelivr.net/npm/simple-icons@v9/icons/mail-dot-ru.svg" alt="Email" height="24">
</a>
